#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace
*.xcodeproj
Project.xcconfig
openFrameworks-Info.plist
ofxiOS-Info.plist
ofxiOS_Prefix.pch



# Code::Blocks
*.depend
*.layout
*.cbTemp
*.cbp
*.workspace

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
icon.rc
*.dll
*.lib
*.exe
*.exp

ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders
.cproject
.project
.settings/

# QtCreator
*.qbs
*.qbs.user
*.pro
*.pro.user

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble
*modex.so
*modexp64.so
*/*/*.tags


# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

#########################
# ofxTimeline specific
#########################
example-videoRenderer/bin/data/renders/
oldExamples/
!libs/openal/libs/win_cb/*.lib
!libs/openal/libs/win_cb/**/*.lib
!libs/sndfile/lib/win_cb/*
ofxTimelineLib.a
*.opendb

*/Makefile
*/config.make
